[submodule "packages/fantastic-keyring"]
	path = packages/fantastic-keyring
	url = https://github.com/fantastic-packages/fantastic-keyring.git
[submodule "packages/fantastic-packages-feeds"]
	path = packages/fantastic-packages-feeds
	url = https://github.com/fantastic-packages/fantastic-packages-feeds.git
